.page {
    font-family: 'Cormorant Garamond';
    margin: 0 auto;
    /*background: linear-gradient(to bottom, rgb(252, 248, 244), rgb(255, 239, 219));*/
    background: radial-gradient(at center,  rgb(255, 239, 219), rgb(252, 248, 244));
}