.project__figure {
  width: 100%;
  height: 100%; 
  max-height: 300px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}

.project__figure::before {
  display: block;
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-color: rgba(0, 0, 0, .6);
 
  clip-path: polygon( 0 100%, 100% 0, 100% 100%);
  -webkit-clip-path: polygon( 0 100%, 100% 0, 100% 100%);
}


@media screen and (min-width: 760px) {
  .project__figure::before {
    opacity: 0;
    transform: translateY(120px); 
    transition: transform ease 0s;
  }
  .project__figure:hover::before {
    opacity: 1;
   transform: translateY(0px); 
    transition: transform ease .2s;
  }
}

@media screen and (max-width: 500px) {
  .project__figure {
    height: 250px;
  }
}

@media screen and (max-width: 400px) {
  .project__figure {
    height: 200px;
  }
}
