.grid-container__overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 100, .8);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  opacity: 0;
  transition: all linear .4s;
}

.grid-container__overlay:hover {
  opacity: 1;
}