.header__title {
  display: block;
  font-weight: 900;
  font-size: 40px;
  margin: 35px 0;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .header__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 590px) {
  .header__title {
    font-size: 20px;
    margin: 35px 0 0;
  }
}

@media screen and (max-width: 400px) {
  .header__title {
    font-size: 15px;
    margin: 20px 0 0;
  }
}
