.profile__figure {
  width: 700px;
  height: 100%;
  max-height: 720px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}

.profile__figure::before {
  
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-color: rgba(0, 0, 0, .5);
  clip-path: polygon( 50% 0%, 100% 0, 100% 100%);

}



@media screen and (min-width: 760px) {
  .profile__figure::before {
    opacity: 0;
    transform: translateX(350px);
    transition: transform ease 0s;
  }
  .profile__figure:hover::before {
    opacity: 1;
    transform: translateX(0px);
    transition: transform ease .2s;
  }
}


@media screen and (max-width: 1280px) and (min-width: 1000px) {
  .profile__figure {
    width: 500px;
  }
}
