.menu__link {
  font-size: 18px;
  text-decoration: none;
  color: #10191e;
  margin-right: 20px;
  transition: all linear 0.2s;
}

.menu__link:last-of-type {
  margin-right: 0;
}

.menu__link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 590px) {
  .menu__link {
    font-size: 12px;
    margin-right: 10px;
  }
}
