@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/content/content.css);
@import url(../blocks/grid-container/grid-container.css);
@import url(../blocks/beginner/beginner.css);
@import url(../blocks/frameworks/frameworks.css);
@import url(../blocks/practice/practice.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/rotation/rotation.css);