@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/content/content.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/project-section/project-section.css);
@import url(../blocks/project/project.css);
