@import url(./__image/grid-container__image.css);
@import url(./__item/grid-container__item.css);
@import url(./__link/grid-container__link.css);
@import url(./__overlay/grid-container__overlay.css);
@import url(./__video/grid-container__video.css);
@import url(./_place/grid-container_place_beginner.css);
@import url(./_place/grid-container_place_frameworks.css);
@import url(./_place/grid-container_place_grid.css);
@import url(./_place/grid-container_place_practice.css);

.grid-container {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
}